#rankings-menu {
  background-color: rgba(62, 69, 149);
  width: 30%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  z-index: 2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  display: none;

  #close-btn {
    background-color: #e8cb49;
    position: absolute;
    left: 90%;
    top: -2%;
    color: white;
    width: 8%;
    height: 8%;
    line-height: 145%;
    border-radius: 50%;
    font-size: 28px;
    cursor: pointer;
    box-shadow: inset 1px 1px 5px #7c6c26, 1px 1px 5px #7c6c26;
  }

  #close-btn:hover {
    background-color: #f1db77;
  }

  h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 10px;
  }

  .ranking-info {
    width: 90%;
    height: 13%;
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: white;
    position: absolute;
    background: #e8cb49;
    border-radius: 20px;
    left: 5%;
    line-height: 220%;
    display: flex;
    justify-content: space-around;
    top: 81%;
  }

  .ranking-info:nth-of-type(2) {
    top: 16%;
  }

  .ranking-info:nth-of-type(3) {
    top: 32%;
  }

  .ranking-info:nth-of-type(4) {
    top: 48%;
  }

  .ranking-info:nth-of-type(5) {
    top: 64%;
  }

  .rank-name {
    width: 350px;
  }
  .rank-score {
    width: 50px;
  }
}

@media (max-width: 600px) {
  #rankings-menu {
    width: 90%;
    height: 70%;
    border-radius: 15px;
  }
  .ranking-info {
    font-size: 20px;
    line-height: 180%;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  #rankings-menu {
    width: 60%;
    height: 65%;
  }
  .ranking-info {
    font-size: 25px;
  }
}
