@font-face {
  font-family: "LED Counter-7";
  src: url(../fonts/led-counter-7/led_counter-7.ttf) format("truetype");
}

#scoreboard-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  border-radius: 20px;
}

.scoreboard {
  width: 65%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  background-color: #1a191a;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  position: relative;
}

.team {
  text-align: center;
}

.label {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  text-align: center;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  font-size: 70px;
  font-weight: bold;
  color: #e66926;
  text-align: center;
  background: radial-gradient(black, rgb(15, 15, 15));
  font-family: "LED Counter-7", monospace;
}

#time-left {
  grid-column: 2 / 3;
  font-size: 50px;
  color: #e66926;
  align-self: center;
  background-color: black;
  text-align: center;
  font-family: "LED Counter-7", monospace;
}

.period-container {
  grid-column: 2 / 3;
  text-align: center;
  margin-top: 10px;
}

.period-label {
  font-size: 20px;
  font-weight: bold;
  font-size: 2rem;
}

#currentLevel {
  font-size: 2rem;
  color: #ffc107;
  background-color: black;
  padding: 5px;
  font-family: "LED Counter-7", monospace;
}

.score-wrap {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#timer-wrap {
  padding-top: 10px;
}

@media (max-width: 600px) {
  #scoreboard-wrap {
    width: 95%;
  }
  .scoreboard {
    width: 100%;
    gap: 5px;
  }

  .label {
    font-size: 1.3rem;
  }
  .score {
    font-size: 50px;
  }
  #time-left {
    font-size: 40px;
  }
  .period-label,
  #currentLevel {
    font-size: 1.5rem;
  }
}
